name: Build iOS IPA

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build App
        run: |
          xcodebuild -scheme App \
          -configuration Release \
          -sdk iphoneos \
          build
